body{
    background-color: rgba(0, 150, 255, 0.1);
    background-size: auto;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-shadow: 5px 1px 2px black;
    font-size: 50px;


}
classa{
    font-family:'Lucida Handwriting', 'papyrus', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;


}
h2{
    font-family:'Lucida Handwriting', 'papyrus', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}
div{
    display: block;
    height: 400px;
    width: 300px;
    border: 3px white;
    padding: 50px;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    background-color:#005F6B;
    text-shadow: 5px 1px 2px black;
}
class2{
    font-family: 'Times New Roman', Times, serif;
    font-size:15px;
    color: white;
}
p{
   outline-style:outset;
   outline-width: 0.05px;
   outline-color:white;
}
span{
    font-size: 30px;
}
class1{
    height: 400;
    position: relative;
    left: 500px;
    bottom: 550px;
}
